<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uniquik.ecollege">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Test_Activity2"></activity>
        <activity android:name=".Test_Activity" />
        <activity android:name=".FacultyDashboardActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".StudentDashboardActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".FacultySignUpActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".FacultyLoginActivity" />
        <activity android:name=".StudentSignUpActivity" />
        <activity android:name=".StudentLoginActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>